.bubble {
    -fx-padding: 10px;
    -fx-background-color: lightblue;
    -fx-border-color: navy;
    -fx-border-width: 2px;
    -fx-shape: "M24 1h-24v16.981h4v5.019l7-5.019h13z";
}

* {
    -fx-focus-color: transparent;
    -fx-border-style: none;
}

.error-text {
    -fx-fill: red;
    /* Set text color to red */
}

.action-btn {
    -fx-opacity: 0;
}

.action-btn:hover {
    -fx-opacity: 1;
    -fx-fill: transparent;
    -fx-cursor: hand;
    -fx-border-width: 0.2;
}